MetaNNFramework/.vs/*
MetaNNFramework/out/*
MetaNNFramework/CMakePresets.json
MetaNNFramework/build/CMakeCache.txt
MetaNNFramework/build/CMakeFiles/cmake.check_cache
MetaNNFramework/build/CMakeFiles/CMakeConfigureLog.yaml
MetaNNFramework/build/CMakeFiles/3.31.2/CMakeSystem.cmake
.vscode/settings.json
MetaNNFramework/build/*
